name: Rust

on:
  push:
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        rust: [stable, nightly]

    steps:
      - uses: hecrj/setup-rust-action@v1
        with:
          rust-version: ${{ matrix.rust }}
      - uses: actions/checkout@v2

      - name: Check
        run: cargo check
      - name: Clippy
        run: cargo clippy -- -D warnings

      - name: Install cargo-all-features
        run: cargo install cargo-all-features

      - name: Run tests
        run: cargo test-all-features
        env:
          RUST_BACKTRACE: 1
      - name: Test benches
        run: cargo test --benches
        env:
          RUST_BACKTRACE: 1

      - name: Install grcov
        run: cargo install grcov
        if: ${{ matrix.rust == 'nightly' }}

      - name: Generate coverage report
        run: |
          cargo +nightly test
          mkdir ./coverage
          grcov ./target/debug -s . --token ${{ secrets.COVERALLS_TOKEN }} --filter=covered --ignore="./test-env/ /usr/"> ./coverage/lcov.info

        env:
          RUST_BACKTRACE: 1
          CARGO_INCREMENTAL: 0
          RUSTFLAGS: "-Zprofile -Ccodegen-units=1 -Copt-level=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests "
          RUSTDOCFLAGS: "-Cpanic=abort"
        if: ${{ matrix.rust == 'nightly' }}


      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if: ${{ matrix.rust == 'nightly' }}
